[2016-10-20 11:54] lewispeel opened #4 "Duplicate identifier 'Action'"
Hi,

I just copy and pasted your example but can't seem to get around the duplicate identifier I'm seeing;

[code]

Am I doing something wrong?

[2016-10-20 12:05] lewispeel commented on #4
I removed the Action import from 'redux-typescript-actions' and it worked - although I had to turn 'strictNullChecks' off in my tsconfig but I'm sure I can change the example.

[2016-10-20 12:05] #4 closed

[2016-10-21 07:36] tcoopman opened #5 "Provide a simple example of how to use both regular and async action in combination with connect"
I'm struggling with getting the props interface correct, especially for async actions. It would be nice if there were a simple example, showing define the actions in a connected component.

[2016-10-21 10:24] aikoven commented on #5
Not sure if I understand.

Defining and dispatching actions:
[code]

Async action creators are not meant to be directly used by component, but rather to wrap some async process. Here's an example of usage with Promises and `redux-thunk`:

[code]

Maybe I should include this `wrapAsyncWorker` helper to the library.
I personally use `redux-saga` for all the async stuff, and have similar helper to wr

[2016-12-02 16:54] benjaminabbitt opened #9 "Please npm release 1.2.0"
n/t

[2016-12-03 05:38] aikoven commented on #9
Oops, somehow I missed that. Done.

[2016-12-03 05:38] #9 closed

[2016-12-07 21:54] supermoos commented on #5
I would also like further examples on how to use it in conjunction with react-redux connect().

I have a piece of code here that hopefully explains what I wanna achieve:

It works the way it is written now, but the action isn't mapped with connect(), and thus HMR doesn't work. Ideally I would also like to avoid having to write the IUserProps type and just have it be inferred.

[code]
IUser.ts
[cod

[2016-12-16 15:10] aikoven commented on #5
@supermoos Sorry for the delay.

I don't fully understand what's the problem with the code you've provided. Is it about this library or about using `react-redux` with TypeScript conveniently? In the latter case, I usually use the pattern that you can see in my first comment in this thread, namely:
[code]

I don't know any way of using the same with class components, because you have to always spec

[2016-12-16 15:55] MartinMajewski commented on #5
But how do you nest your pattern inside a parent TSX (JSX) DOM element?
I don't get, how a complete application should look like.

Can you please provide a full example, please? For example an app that composes different separated input elements with some output elements, like buttons, checkboxes that changes a text inside label output.

Thank you.

[2016-12-18 22:00] st-clair-clarke opened #10 "Usage with @ngrx/store"
Hi,
Interesting offering. Congrats.

Can it be used with @ngrx/store [https://github.com/ngrx/store](https://github.com/ngrx/store)

If so, an example please.

Thanks

[2017-01-02 11:52] MistyKuu commented on #5
@aikoven can you please share wrapper async worker for redux-saga?

[2017-01-03 13:24] aikoven commented on #10
Give it a try!

I'm not using Angular, but since the only type this library takes from `redux` is `Action`, it could probably work.

My only doubt is that `Action.type` in `@ngrx/store` [is always `string`](https://github.com/ngrx/store/blob/v2.2.0/src/dispatcher.ts#L4), while in `redux` it [is `any`](https://github.com/reactjs/redux/blob/v3.6.0/index.d.ts#L17), which may lead to TypeScript errors

[2017-01-03 13:36] aikoven commented on #5
@MartinMajewski I'll write an example when I have time. The basic usage has no difference with regular action creators. See [Redux manual](http://redux.js.org/docs/basics/Actions.html#action-creators).

@MistyKuu Here you go:
[code]
Usage:
[code]

[2017-01-03 14:07] MistyKuu commented on #5
Thanks, I'll check that out

[2017-01-17 06:06] aikoven commented on #4
I am so sorry, I've missed your issue!

You don't have to turn off `strictNullChecks`. If you want to use both `Action` types in a single module, you can go with:
[code]

[2017-01-27 16:54] bakesteve opened #11 "AsyncAction sucess assumes payload.result"
Trying to use this, but my async actions will return the result type as the payload, rather than under `action.payload.result`
When I use `isType(action, someaction.done)` payload is now typed to be `ActionCreator<Success<P, S>>` so according to typescript, I need to grab the actual api result from `action.payload.result`
I'm using middleware, so cant easily change this just for the files I am usi

[2017-02-03 14:48] aikoven commented on #11
This means that your async actions have different type than `AsyncActionCreators`  in this lib, but you can easily write your own, it's quite simple: https://github.com/aikoven/redux-typescript-actions/blob/v1.2.0/src/index.ts#L105-L114

[2017-02-27 05:55] farism opened #12 "Rename package"
I think it might be good to rename this package to `typescript-fsa` or `fsa-typescript` or something along those lines. This library can technically be used with any FSA compliant flux implementation, or even something else. For example I am currently using it in a cycle.js project.

On top of this, the redux dependency probably isn't necessary. We could reimplement the `ReduxAction` type in this

[2017-02-27 06:49] aikoven commented on #12
Thanks for your input and thanks for sharing `typed-fsa`, I haven't seen it before.

You are right in that Redux dependency is not really needed, though I've planned to include some utilities for building reducers which might depend on Redux. There's already [a module](https://github.com/aikoven/redux-typescript-actions/blob/v1.3.0/src/sagas.ts) with helpers for `redux-saga`. However, this module

[2017-02-27 07:04] farism commented on #12
Admittedly I wasn't thinking about the saga aspect when I was first opened this issue 😄. Though it doesn't change my gut instinct.

At the very least I think it would be good to remove the `redux` dependency and reimplement the base `Action` interface. We could discuss possible options for helpers.

[2017-03-03 13:32] nitimmerman commented on #10
Hi all,
I've tried it and it actually works perfect!
My only concern is that redux is a dependency which brings it's own Action type but because both actions are FSA compliant it still works

[2017-03-03 14:44] aikoven commented on #12
Just released [`typescript-fsa@2.0.0`](https://www.npmjs.com/package/typescript-fsa).

[2017-03-03 14:45] aikoven commented on #10
Just released [`typescript-fsa@2.0.0`](https://www.npmjs.com/package/typescript-fsa) with Redux dependency removed.

[2017-03-03 14:55] nitimmerman commented on #10
You are a Hero!
Many thanks, will use that one

[2017-03-03 19:02] farism commented on #12
Very cool, will try it out this weekend.

[2017-03-05 02:45] st-clair-clarke opened #13 "How to use isType with async properties"
Hi,
I have the following:

[code]

The addLangAction generates the following error:

[code]

[2017-03-05 06:17] aikoven commented on #13
`AsyncActionCreators` is basically just an object containing three action creators: `started`, `done` and `failed`. To use them you should dispatch `started` at the beginning of your async process and `done` or `failed` upon finish. Then in reducers you use them as follows:
[code]

[2017-03-05 07:14] farism commented on #12
I migrated to new package and my app seems to be working well. I think we can close this one out. Nice work!

[2017-03-05 07:14] #12 closed

[2017-03-05 13:57] st-clair-clarke commented on #13
Thanks for the quick help.

[2017-03-05 14:40] aikoven commented on #13
What solution do you use for async stuff? Here's a helper for async action creators for `redux-saga`: https://github.com/aikoven/typescript-fsa-redux-saga

I'm planning to make another for `redux-thunk`, would be glad to know what's in demand.

[2017-03-20 19:19] clool commented on #13
I would love to see one for redux-thunk, thanks.
great library and great work!

[2017-03-31 07:07] aikoven commented on #10
I'm going to close this since the issue seems to be resolved. Please feel free to reopen if you have any trouble.

[2017-03-31 07:07] #10 closed

[2017-03-31 07:09] aikoven commented on #11
I'm going to close this, please feel free to reopen if you have any questions.

[2017-03-31 07:09] #11 closed

[2017-03-31 07:31] aikoven commented on #5
@MistyKuu Sorry, I've completely missed your edit.

1. Yep, it should work exactly like this. Once https://github.com/redux-saga/redux-saga/pull/733 gets released, I'll update the library so that you could leave out `.type`:
[code]
2. Sagas are intended to be run as daemons, so the basic workflow is this: your component dispatches simple plain action, saga catches it and executes some workflow. Pl

[2017-05-03 18:35] dphilipson opened #18 "Consider typescript-fsa-reducers for Companion Packages section"
Hello, I'm a big fan of this library. Thank you for creating it!

I've written a package, [typescript-fsa-reducers](https://github.com/dphilipson/typescript-fsa-reducers), which builds on top of typescript-fsa to simplify writing reducers. I wanted to bring it to your attention in case you're interested in adding it to the "Companion Packages" section of your README. If not, no hard feelings, and

[2017-05-04 08:12] ttamminen commented on #18
@dphilipson typescript-fsa-reducers looks interesting indeed and should be mentioned some place more visible than inside an issue!

I think the TypeScript FSA project should have some sort of Resources section. Not only for Companion Packages, such as great reducers library by David, but learning resources also.

For example, I have written some tutorials like [Type-safe Flux Standard Actions (FSA

[2017-05-04 08:33] ttamminen opened #19 "Add separate project for async-thunk implementation"
@aikoven [provided a solution for redux-thunk integration](https://github.com/aikoven/typescript-fsa/issues/5#issuecomment-255347353) and I think this should be a separate package with the util + documentation. I use redux-thunk, so I can contribute to the usage documentation.

I have modified it slightly for readability and added `TError` generic.

[code]

[2017-05-10 06:04] aikoven commented on #18
Thanks, I'd be happy to include it. Would you mind opening a PR for the Readme?

[2017-05-10 19:07] dphilipson commented on #18
PR created: https://github.com/aikoven/typescript-fsa/pull/20

@ttamminen You'll want to open a separate PR to add links to your tutorials.

[2017-05-19 14:09] dyk opened #23 "Broken example from readme"
see https://github.com/aikoven/typescript-fsa/pull/22

[2017-05-21 04:16] estaub opened #24 "2.1.0 breaking change; async start() with payload is now forbidden."
So... I was using a real payload in async `.start()`, and now it won't even compile, which I suppose is a good thing, since it doesn't work.  Clearly this is intentional; there's even a test to make sure payloads aren't allowed.

Semver, please?  If you're going to deliberately break stuff that works now, bump the major rev number.

Falling back to 2.0 for now.  Please let me know if this (i.e., f

[2017-05-22 06:05] aikoven commented on #24
I am truly sorry about this, payloads are meant to be allowed for `.started()` action creators, the `2.1.0` version only makes it possible to skip the payload if its type is `undefined`. As you can see [here](https://github.com/aikoven/typescript-fsa/commit/729b73aecbeb21565c854be27d3da0e97bcbc288) we only added a new signature and old ones are still there. But for some reason TypeScript selects t

[2017-05-22 06:07] #23 closed

[2017-05-22 06:26] #18 closed

[2017-05-22 06:28] aikoven commented on #24
Released `2.2.0`.

[2017-05-22 19:19] estaub commented on #24
@aikoven Thanks, and sorry to go off on you a bit.  I misread one the tests, then inferred nonexistent intent.

[2017-05-22 21:46] mindjuice opened #26 "Change definition of meta?"
When I try to set a field on `meta`, TypeScript complains that the property does not exist.

For example:

[code]

The current definition of `meta` in `Action<P>` looks like this:

[code]

If I change it as follows, then I can place any fields into `meta` with no errors.

[code]

Of course this means `meta` is not type-safe, but it's no worse than the current definition.

Another alternative would

[2017-05-23 04:47] aikoven commented on #26
Why do you want to change the meta after your action is created in the first place? I'd rather perceive actions as read-only.

Otherwise, your proposal looks good, I'll update the types and open a PR so you could check if it works for you.

[2017-05-23 04:58] aikoven commented on #26
Please check out version `2.3.0`.

[2017-05-23 17:00] mindjuice commented on #26
In this case I was looking at having middleware add a `requestId` and a `startTime` to the action when it is received by the middleware then sent over the websocket, but I may use a map on `requestId` as a key instead to keep the actions read only.

Either way, `2.3.0` looks great.  Thanks!

[2017-05-23 17:00] #26 closed

[2017-05-27 09:33] tblaisot commented on #24
@aikoven Couldn't you have the same result by declaring the payload field of Action<P> non mandatory ? I tried this solution (with all fields related to payload like params, etc...) and i think you lose nothing in term of the security of the typings.
By doing so you can even remove the EmptyActionCreator type.

[2017-05-29 05:05] aikoven commented on #24
@tblaisot We'd lose the ability for the compiler to tell us if there is a payload or not, which we currently have with `strictNullChecks` enabled.

[2017-06-01 04:07] xdave commented on #19
I was thinking about making wrapAsyncWorker act like how I declare thunks already, so I wrote this:

[code]

You use it like this (for example):
[code]

[2017-06-01 04:44] xdave commented on #19
Even better, I got it to infer the type of `dispatch` and `getState` in the worker function -- by allowing you to pass in the state type as the first type argument of the action creators factory:

[code]

[code]

For example, the type `getState` above is inferred as `() => App.State`

[2017-06-01 04:55] xdave commented on #19
Typescript is magic.

[2017-06-01 09:32] ttamminen commented on #19
@xdave I think all that you have written is marvelous!

I am familiar with C#'s async await, but I need to read more about ES standard's implementation as I guess it abstracts promises away.

Anyways, good stuff!

[2017-06-01 14:44] xdave commented on #19
It's only a syntactic element.  It uses promises under the hood for async, and generators for await.  To make it work in Typescript, you can get typescript 2.2+ (it will down compile it to ES3), and it will insert the __generator helper.

You can also install tslib and set importHelpers in tsconfig to reduce the amount of times the helpers get inserted and the compile size.

[2017-06-01 14:51] xdave commented on #19
https://hackernoon.com/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9

[2017-06-06 15:18] greenkeeper[bot] opened #27 "An in-range update of ts-node is breaking the build 🚨"
## Version **3.0.5** of [ts-node](https://github.com/TypeStrong/ts-node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/aikoven/typescript-fsa/compare/greenkeeper%2Fts-node-3.0.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ts-node
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-06-07 04:11] #27 closed

[2017-06-08 17:58] ssynix opened #29 "Question about `done` and `failed` action creators"
Is there a way to skip params in async action results? Something like:
[code]
___
Let's say I want to fetch all users. This is kind of what I expected: (pseudocode)
[code]
___
I'm mostly new to all this so I was wondering if I'm missing something or if there's a better way to utilize this library.

Thanks!

[2017-06-09 07:03] aikoven commented on #29
Async action creators are meant to wrap async processes, like a network request. The `params` are needed to correlate the response with the request arguments. Imagine that you're making many similar requests through a single AAC.

The most convenient way for using AAC is to make a wrapper based on how you do async stuff in your project.

Here's a ready to use wrapper for `redux-saga`: https://gith

[2017-06-09 15:13] ssynix commented on #29
Thanks for the explanation! In your `redux-saga` example, how does `mySaga` get triggered in the first place? Do I need to take a `startDoSomething` action? E.g.

1. Component wants list of users
1. Dispatch `startFetchingUsers`
1. Outer saga (`mySaga`) takes this action and calls the `boundAsyncAction` saga
1. `fetchingUsers.started/done/failed` are dispatched respectively

I really like the idea

[2017-06-13 04:58] aikoven commented on #29
The `AAC.started` action is not something that triggers an async process, more like an *event* that happens once the process is started.

So once you've bound your process with `bindAsyncAction` you get the same thing but wrapped with actions. You execute it just like you would have done with the original process (with `yield call(...)`).

To wire it up with the component I'd do this: once a compo

[2017-06-13 14:28] ssynix commented on #29
Great tips, thank you!

[2017-06-13 14:28] #29 closed

[2017-06-14 14:55] irobot opened #30 "Consider removing the Node dependency"
When running in the browser, `process` is undefined. A workaround is to define `window.process = { env: { NODE_ENV: 'mycurrentenvironment' }}`. It is conceivable that a common use case for typsecript-fsa is SPAs running in the browser, so this workaround should not be needed.

[2017-06-15 04:25] aikoven commented on #30
Please take a look at https://github.com/reactjs/redux/issues/1404

[2017-06-16 04:25] aikoven commented on #30
Does Redux source end up in your bundle? If it does, are the `env` checks still there or are they erased?

[2017-06-16 04:47] aikoven commented on #30
This won't work because bundlers handle this by simply replacing `process.env.NODE_ENV` string, not injecting the `process` variable.

I think this is the right solution — we should make a UMD build.

[2017-06-16 05:35] aikoven commented on #30
A UMD build for `typescript-fsa`, i.e. `typescript-fsa.min.js` with all `process.env` removed.

Would that solve the problem?

[2017-06-16 06:08] aikoven commented on #30
If you only import types, then the code of `typescript-fsa` won't end up in your bundle.

I'm not very familiar with System.js, could you please tell me more about your setup? How and when do you load Redux? Can you use functions from `typescript-fsa` the same way you use functions from Redux?

[2017-06-16 07:18] ttamminen commented on #19
@xdave @aikoven Is there any chance to get this into a separate package? I think people are copy-pasting these snippets to their projects which probably isn't a good thing to do on a long run.

[2017-06-16 15:30] xdave commented on #19
Lol sure, I'll take a look at it tonight.

[2017-06-17 04:15] xdave commented on #19
@ttamminen @aikoven https://github.com/xdave/typescript-fsa-redux-thunk

`npm install xdave/typescript-fsa-redux-thunk`
or
`yarn add xdave/typescript-fsa-redux-thunk`

It's not published to npm... yet.

[2017-06-17 08:17] ttamminen commented on #19
@xdave Excellent, good work! I tested the library and it works smoothly. The only issue I found is with the module augmentations, but it is probably something I am doing wrong. https://github.com/xdave/typescript-fsa-redux-thunk/issues/1

I think this issue is now completed!

[2017-06-17 08:17] #19 closed

[2017-06-17 08:33] ttamminen commented on #13
@clool #19 is an issue that tracks the progress of a 3rd party helper library for the `redux-thunk`.

The good news is that there is a new project now available!

[2017-06-19 06:48] aikoven commented on #30
I have added the UMD build. Please upgrade to version `2.3.1` and replace the path in `system.config.js` to:
[code]

I've included the source to the NPM package. Though it's not common to use `.ts` sources directly, because the TypeScript version and compiler config can be very different in your project and in the library. Also, TypeScript uses Node module resolution, so when you import a module,

[2017-06-19 14:15] #30 closed

[2017-06-19 14:23] aikoven commented on #30
You're welcome, please feel free to reopen if you have any trouble with this.

[2017-06-21 07:53] aikoven commented on #24
I'm going to close this now, please feel free to reopen if there's a case.

[2017-06-21 07:53] #24 closed

[2017-07-05 05:47] clouddra opened #32 "Usage with redux connect"
I was trying to do the following

[code]
and I got the following error
[code]

as a workaround i had to do
[code]

or alternatively
[code]

I am not sure if it is a mismatch of type signatures or the typescript module system

[2017-07-17 09:14] aikoven commented on #32
I am sorry for the late reply.

I don't think that assigning a module object to an index signature would work in TypeScript.

A possible workaround might be to `export default` an object with all action creators.

But I wouldn't recommend this pattern because it creates a new function per action per connected component, which is expensive. I'd suggest to only bind action creators that you actually

[2017-07-21 00:48] rluiten opened #35 "Use case for isType looser type on actionCreator parameter maybe ?"
Love your work, so much nicer to have good types.
I've been using it with the typescript-fsa-redux-thunk wrapper bindActionThunk().

I have a use case at the moment where I am creating `myIsType` based on isType.
The function prototype on the `actionCreator` parameter gives type errors.
I was wondering if the type for that parameter on isType might be loosened without risk ?

`pendingAsyncActions`

[2017-07-30 04:05] aikoven commented on #35
Sorry for the late reply.

What exact error do you get from TS?

[2017-08-01 21:19] rluiten commented on #35
For the example i posted above on the line where `myIsType` is used, the second parameter apiAction.done gives me an error.

[code]

The array pendingAsyncActions is defined as.
The result type for each async action creator is different as you would expect in general.
I read the error as being caused because in the `done` case the type of payload is different, I was thinking maybe there is a way t

[2017-08-08 04:38] m0a opened #36 "i create companion package for redux-observable"
thank you for cool library!
so. i created [companion package for redux-observable](https://github.com/m0a/typescript-fsa-redux-observable).

[2017-08-08 04:39] #36 closed

[2017-08-08 06:39] aikoven commented on #36
Cool! Would you mind opening a PR for Readme?

[2017-08-08 07:31] m0a commented on #36
thank you! i make PR

[2017-08-08 07:50] aikoven commented on #35
I'm confused.

`isType` doesn't  make any restriction on `P` type parameter, and I don't see how it can produce an error you posted.

Could you make a small repo that reproduces it, so I could have a closer look?

[2017-08-10 07:27] casr opened #38 "Async actions should return the same type differentiated by an error object"
From the [`flux-standard-action`](https://github.com/acdlite/flux-standard-action#errors-as-a-first-class-concept) repo:

Was there a particular reasoning to do it with `*_DONE`/`*_FAILED`?

[2017-08-15 00:14] rluiten commented on #35
Sorry for the delay, was finishing up some other urgent stuff.

I created a file to demonstrate the error.
I can upload a repo if you would prefer that.

* install create-react-app
* create a project
  * create-react-app cra-istype --scripts-version=react-scripts-ts
* install typescript-fsa
  * npm install --save typescript-fsa
* place file the attached file typeExample.ts.txt in to src folder wit

[2017-08-16 00:51] st-clair-clarke opened #40 "Is typescript-fsa compatible with ngrx 4?"
Given the changes with ngrx 4, is typescript-fsa still compatible? There are changes with Actions (for example, there is no payload property). How does this impact on this package?

See migration guide at [https://github.com/ngrx/platform/blob/master/MIGRATION.md](https://github.com/ngrx/platform/blob/master/MIGRATION.md)

Thanks

[2017-08-17 05:30] aikoven commented on #38
To be honest, I just didn't know that.

One reason to have separate action types is that you can distinguish between success and failure in DevTools without having to look inside the action.

On the other hand, I kinda like this:
[code]
instead of this:
[code]
because in the former case the type of `payload` is unknown unless you guard the block with `action.error`. So it is somewhat more explicit

[2017-08-17 05:48] aikoven commented on #35
The error happens because the type of `pendingAsyncActions` is inferred to
[code]
which in turn makes `apiAction.done` be inferred to
[code]
TypeScript is not smart enough to see that this is the same as
[code]

Also, the reason you get the error only for `done` action is that `Type1Params` is exactly the same as `Type2Params`.

I see two possible fixes:
1. Annotate `pendingAsyncActions` with `Asy

[2017-08-17 05:56] aikoven commented on #40
I'm not using ngrx, so I can't say with confidence. I think that everything should work fine. `typescript-fsa` makes little assumption on what actions should be (see `AnyAction` type). It should integrate flawlessly with any Flux implementation that relies on actions having `type` property.

[2017-08-17 23:24] rluiten commented on #35
As i expected. I  was just wondering if it was possible to ease of the type constraints in isType() but I have learned more since then and I don't think its feasible as it wont enforce the type guard if you did.

Thanks for the detailed response.

[2017-08-25 04:26] #35 closed

[2017-09-10 18:44] luisatmaniak opened #44 "Customizing the returned payload"
How could I do something like the following in typescript-fsa?

[code]
I know the type is added automatically and all, but I want to be able to augment/modify the passed payload, is this possible? I'd also like to preserve composability with typescript-fsa-reducers.

[2017-09-12 04:56] aikoven commented on #44
Right now there are a few possibilities:

You could add the UUID at the place where you create that action.

You could also have a middleware that adds it.

Another option is to make another function that calls that action creator:
[code]
Then use it to create actions, but use original `addTodo` in reducers.

[2017-09-12 15:39] suevalov opened #45 "Optional `payload` in `ActionCreator`?"
Hello, thanks for the library!

I've got a question regarding `async` action creator. What if my action should receive no params?

[code]

Thanks in advance!

[2017-09-13 05:25] aikoven commented on #45
Unfortunately, I don't know of a way to make it possible. We added support for it [here](https://github.com/aikoven/typescript-fsa/pull/15) but had to revert it due to a way TS resolves overloaded signature, which broke async action creators *with* payload.

If you find a solution that works, please let me know.

Meanwhile, I recommend you to make a wrapper that wraps functions returning promises

[2017-09-13 22:29] luisatmaniak commented on #44
Thanks for answering. Yes, that seems like a good solution, it's a bit painful to have to export two actions creators (one for actually creating the action another one for `.case(..)` in fsa-reducers), but besides that, I think this will work.

Thank again.

[2017-09-13 22:29] #44 closed

[2017-09-14 04:50] aikoven commented on #44
I agree that it's not as beautiful as it could be. I'm open for API proposals if you have one.

[2017-10-12 06:54] casr commented on #38
The DevTools are a valid concern however I think that is small patch away from highlighting actions with certain properties, i.e. if error is true then display action as red.

By making errors tied to the same action you will force your reducers to handle it in every instance rather than letting them slip through unhandled. I would rather my code crash hard instead of letting a few unhandled error

[2017-10-19 15:20] matthewharwood commented on #10
@nitimmerman Do you have any code samples to show on using it fsa with ngrx?

[2017-10-19 15:30] matthewharwood commented on #40
I had a problem with how verbose ngrx4 was.  I posted a question on stackoverflow and proded the gitter community and they lead me to typescript-fsa.

Once I get more infomation and time to test.  I think it would be great to have a few snippet on implementation for beginners.

https://stackoverflow.com/questions/46823049/how-can-i-refactor-ngrx-actions-to-be-less-prone-to-typos

[2017-10-27 07:46] unional opened #46 "adapting FSA's typing?"
`flux-standard-action` has its own typing. Would this library able to consume and compatible with it?

The main difference is that it separates `FSA` and `ErrorFSA`, and FSA takes two generics `FSA<Payload, Meta>`.

🌷

[2017-10-27 09:14] unional commented on #45
Related discussion: https://github.com/Microsoft/TypeScript/issues/14400

[2017-11-10 09:25] aikoven commented on #38
I started experimenting with discriminating between success and error actions by `error` field. Unfortunately, there seems to be a bug in TypeScript compiler which doesn't let us do this inside `isType` check: https://github.com/Microsoft/TypeScript/issues/19904

[2017-11-27 23:23] rclmenezes commented on #45
Similarly, empty actions return `undefined` payloads:

[code]

It's possible for us to fix both by adopting the following syntax:

[code]

Benefits of doing it this way:

- Empty actions will be a little cleaner.
- Doesn't affect the existing API.
- No need to do `asyncAction.started({})`
- If https://github.com/Microsoft/TypeScript/issues/14400 ever gets released, it'll be easy to deprecate.

Con

[2017-12-14 03:40] aikoven commented on #46
What's the benefit of this?
The interfaces should be compatible as is.

[2017-12-14 03:53] aikoven commented on #45
I would rather not expand the API because of TS shortcomings.

The `undefined` payload can be easily fixed at runtime, not the typing side.

I'm thinking about just making a `payload` parameter optional This would make it a bit less type-safe, but at least it would get easier to express things. For instance, the built-in typings for `Promise` do the same:

[code]

[2017-12-14 03:55] #32 closed

[2017-12-14 03:58] #5 closed

[2017-12-25 02:24] rasdaniil commented on #32
Btw, in case we need to pass all actionCreators to a component, the typings of Props could be simply extended with help of `typeof`:

[code]

[2018-01-08 16:19] razagill opened #51 "Typings for dispatch props"
Hi,
I'm trying to provide typings for my actions inside a connected component.
[code]

Given that the action is defined as:
[code]
The idea is to use those typings when defining `mapDispatchToProps`:

[code]

However I get an error about the typings being incompatible. Is there a way to get the type of that action?

[2018-01-11 05:11] aikoven commented on #51
What exact error do you get?

It's currently not possible to get the type of action from action creator but I think it's possible to add such feature.

[2018-02-03 05:49] oieduardorabelo opened #53 "Amazing project, thank you! 🎉"
Hello there 👋,

I would like to thank your for this project and your time invested in this project,

I just rewrote a project in TS and I was handling everything with Enums and custom utilities,

Looking for good patterns, I landed in this repo, all the `*-fsa-*` packages are awesome!

The code looks more tidy and organized!

Many thanks 🙏

[2018-02-04 08:26] #53 closed

[2018-02-05 04:21] aikoven commented on #53
Thank you, Eduardo, that means a lot to me!

[2018-02-12 22:23] jlmart88 commented on #51
I also ran into this problem of wanting to use the type of the action from the action creator. I came up with a solution that "wraps" the action creator factory with another interface that exposes the actions as properties alongside the action creators. This allows for code that looks like:

[code]

Similarly, it exposes the types of each of the three async actions from an async action creator as

[2018-02-20 05:23] aikoven commented on #51
See https://github.com/Microsoft/TypeScript/pull/21847, very soon we'll have a built-in ability to extract a return type of a function.

[2018-02-20 22:51] baetheus commented on #40
I implemented it today and it works just fine. typescript-fsa-reducers are also quite useful.

[2018-03-28 12:59] supermihi opened #55 "Typing issues with react-redux connect and class components"
Not sure if this is related to #51 or #32, but I have issues with typescript-fsa in connection to react-redux' `connect` and class components.

In the following example, the class component version does not compile, but the functional component version does:
[code]

Both work if I declare `Props` as
[code]
But I obviously do not want to couple the component to redux-specific stuff. Using typescrip

[2018-03-29 10:07] aikoven commented on #55
Could you please post a full error message?

[2018-04-03 14:50] supermihi commented on #55
[code]

[2018-04-07 03:52] aikoven commented on #55
My guess is that this is because `doSomething` doesn’t really return `void` and it would work if you change return type to `any` or `{}`. Of course it is far from ideal.
As far as I know in a regular situation `() => Something` should be assignable to `() => void`. But `react-redux` typings are mostly dark magic so I wouldn't be surprised if somehow it makes it behave this way.

[2018-04-13 06:58] aikoven commented on #45
Fixed in [3.0.0-beta-1](https://github.com/aikoven/typescript-fsa/releases/tag/v3.0.0-beta-1).

[2018-04-15 08:21] xdave opened #56 "Some breakage with new 3.0 beta"
My package, `typescript-fsa-redux-thunk` and my attempts to refactor it have failed, and this also affects `typescript-fsa-reducers`.  The best way to explain the errors I'm getting is to post a test case and explain where the errors are:

[code]

There are only three errors, and interestingly, all occurring inside of my `bindThunkAction` function where the async actions are called:
[code]

I've b

[2018-04-15 20:40] xdave commented on #56
OK if I change `ActionCreator` to be an interface:
[code]
Calling `.started(P)` works without any problem; however, I must assert the function parameters of the `.failed()` and `.done()` actions to `Optionalize<>` in my function.

After this, the types of the values in the reducer are correct, too.

[2018-04-17 09:53] suutari-ai commented on #55
I think `mapDispatchToProps` should be a function that takes in dispatch argument and returns an object of type `Partial<Props>`. If you define it as object like that, it won't work. What if you change the `mapDispatchToProps` to something like:
[code]

[2018-04-17 11:39] suutari-ai commented on #56
@xdave Can you check if PR #57 fixes this? At least it helped me to resolve a problem with very similar error message.

[2018-04-26 13:03] greenkeeper[bot] opened #59 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/aikoven/typescript-fsa/compare/master...aikoven:greenkeeper%2Fupdate-to-node-10">open a PR w

[2018-04-27 13:53] rplotkin commented on #56
Just adding my notes here, that I have a package that is incorporated into another, and when using 3.0.0-beta.1, TS reported that the typings file for typescript-fsa had formatting issues. Which didn't make a lot of sense (it looked fine), but may be part of this problem.

[2018-04-27 23:10] xdave commented on #56
@suutari-ai Thanks...  I haven't had the chance to check it yet, but I will see this weekend.

[2018-04-27 23:11] xdave commented on #56
@rplotkin need to make sure your editor/project is using TypeScript 2.8 to parse/check.  new typescript-fsa uses conditional types, which were not supported in earlier versions of Typescript.

[2018-05-03 04:33] aikoven commented on #56
Thanks for your report @xdave!
I'm sorry for not answering for so long. I've just come back from a vacation, will get to it once I sort things out at work.

[2018-05-04 05:52] bschlenk commented on #55
I am also getting an error in this case, but with a different error message:

[code]

[2018-05-16 08:12] #59 closed

[2018-05-16 08:59] aikoven commented on #56
@xdave Please try out [`3.0.0-beta-2`](https://github.com/aikoven/typescript-fsa/releases/tag/v3.0.0-beta-2).

[2018-05-31 04:50] aikoven commented on #56
@xdave Could you please post these other problems you get?

[2018-05-31 04:58] aikoven commented on #55
@supermihi I'm sorry for not answering for so long.

I took a closer look and it still seems that this has to do with `react-redux` typings. They do a lot of work to give you better type inference, but sometimes it confuses the compiler.

I managed to fix the error you get by specifying type arguments explicitly:

[code]

@bschlenk Could you please check if the above trick fixes your case?

[2018-05-31 18:15] xdave commented on #56
@aikoven For example:

[code]
Yields:
[code]
Because `ThunkActionCreator` is a function that has a single optional parameter:
[code]
So, the type of `params` in `bindThunkAction` is `Params | undefined`.

[2018-05-31 18:18] xdave commented on #56
@aikoven I realize that even though having nice optional params in my library is convenient, it's not type-safe because you can still call a thunk that does take params without them.  I need to adjust the way I optionalize it in my code.

[2018-06-06 08:48] supermihi commented on #55
@aikoven Thanks for providing the workaround!

[2018-06-07 10:28] lucas1677 commented on #55
@supermihi it works fine, the only thing you should do, is just define the type of component props clearly. you can refer to this:
[code]

[2018-06-26 18:13] dcurletti opened #62 "Allow For Passing Meta Type ActionCreatorFactory.async and AsyncActionCreators"
Hi there-

Issue: I am unable to pass a TypeScript Type for the `meta` object that an `actionCreator` produces.

----
Example:
I want to create async actions for an event "login":
[code]

I also want to pass data via the `meta` object on the action.

[code]

I now want to define what my action will look like, as well as create the saga:

[code]

The issue arises when you try to test the code:
[cod

[2018-07-02 05:03] aikoven commented on #62
This sounds good to me, especially since we can now use defaults for generic parameters, so this won't break existing code.

However, I don't really have much time to work on this now, but I'd happily accept PRs!

[2018-07-02 05:04] aikoven commented on #40
I'm going to close this since the issue seems to be resolved. Please feel free to reopen if you have any trouble.

[2018-07-02 05:04] #40 closed

[2018-07-02 05:06] aikoven commented on #46
Closing for inactivity. Please feel free to reopen.

[2018-07-02 05:06] #46 closed

[2018-07-02 05:08] aikoven commented on #51
So since TypeScript 2.8 you can use the built-in `ReturnType` type!

Please feel free to reopen if that doesn't solve your problem.

[2018-07-02 05:08] #51 closed

[2018-07-27 01:27] dcurletti opened #63 "`.case` allows properties to be return that aren't in the declared `initialState`"
[code]
Following code typechecks, when `SHOULDNT_ALLOW_THIS` should throw a typecheck error.

[2018-07-30 04:18] aikoven commented on #63
I'm not the author of `typescript-fsa-reducers`, you should probably file this issue in [its repo](https://github.com/dphilipson/typescript-fsa-reducers).

[2018-07-30 04:22] dcurletti commented on #63
@aikoven whoops, sorry about that!

[2018-07-30 04:22] #63 closed

[2018-08-24 09:41] jollytoad opened #64 "Success results are always optional now"
Hi, I've just tried updating to TS 3.0.1 and ts-fsa 3.0.0-beta-2, i previously had this generic reducer...

[code]

where:

[code]

but now i'm seeing the error:

for the line:

[code]

[2018-08-24 09:42] jollytoad commented on #64
I should say, I was on TS 2.9.2 & ts-fsa 2.5.0 previously.

[2018-08-27 05:30] aikoven commented on #64
Thanks for your report. Looks like the typings of `3.0.0-beta-2` don't handle this case well.

Meanwhile, you can use `typescript-fsa@2.5.0`.

[2018-08-27 08:56] jollytoad opened #65 "Action with unknown payload (TypeScript 3)"
I've recently updated to TS3, and although `typescript-fsa@3.0.0-beta-2` isn't currently working for me (reported in a separate issue), i'm continuing to use 2.5.0.

I have found that the new `unknown` type is incredibly useful as the payload type of an `Action`, especially in combination with redux-observable, and the `ofAction` operator (see https://github.com/m0a/typescript-fsa-redux-observable

[2018-08-27 21:13] IIFE opened #66 "Make ActionCreatorFactory.async return an additional 'reset' action creator"
Hi,

Firstly thanks for the library, it's proved very useful for me.

I just wanted to provide a small suggestion and get your thoughts on it.

One of the useful functions in `ActionCreatorFactory` is:
`async<P, S, E>(type: string, commonMeta?: Meta): AsyncActionCreators<P, S, E>;`

Which creates `started, done, failed` action creators. Would it not also be useful if it was to create a `reset` act

[2018-08-28 05:02] aikoven commented on #65
I think it makes a lot of sense to make `Payload` type parameter default to `unknown`.

However, `AnyAction` still makes sense for`isType()` (and `ActionCreator.match()`, and `ofAction()`), because what they do is narrow the widest type there is with a `type` property to an FSA. Imagine if your app had multiple sources of actions — your app itself dispatching FSAs and some third-party library usin

[2018-08-30 05:51] aikoven commented on #66
I think what you're trying to achieve is better done at reducer side, not actions.

So imagine you have a reducer for your page's state. It's composed of some smaller ones, among which is the operation state (`IAPIOperation`):

[code]

It actually makes sense to completely reset the page state when you leave it, not the particular parts of it. So I would go with something like:

[code]

[2018-09-07 12:54] mc-petry commented on #45
You can look how it's done in [redux-handler](https://github.com/mc-petry/redux-handler). See `.action()` and `.action<T>()`

[2018-09-11 08:37] #45 closed

[2018-09-11 08:37] suevalov commented on #45
Thanks everyone 👍

[2018-09-17 18:19] xiaoyu-tamu opened #67 "payload with default values?"
how to handle default params in async action creator?

[code]

I want started() method parameter be optional. I try to make it `Params | void` but it doesn't work as  expect. The current workaround is to add `  (payload?: Payload, meta?: Meta): Action<Payload>;` inside `export declare type ActionCreator<Payload> = {}`

Is there a better way to accomplish that?

[2018-09-18 16:08] andreialecu opened #68 "connect(, mapDispatchToProps) not working properly with async functions"
This is probably a design problem with `typescript-fsa` and async actions. I'm using a pattern such as the following:

[code]

I understand why this happens, it's because the `connect()` call can see that `syncAction` is indeed a function and properly maps the dispatch, but `asyncAction` is an object with `.started()`, `.done()` functions defined within it, so it is ignored by the `connect()` call

[2018-09-18 17:13] andreialecu commented on #68
I was able to work around it via the following:

[code]

Now supplying `LoginActions` for `mapDispatchToProps` binds everything properly. Perhaps this could be simplified. Looks like the separate creators are needed in order for `isType()` to work and check on those.

[2018-09-21 04:43] aikoven commented on #68
Yeah, that's because `connect` uses `bindActionCreators` when passed an object as second argument, which in turn only leaves functions there, see [bindActionCreators.js](https://github.com/reduxjs/redux/blob/v4.0.0/src/bindActionCreators.js#L47-L49).

To make this pattern work, you can either flatten `LoginActions` object before passing it to `connect`, or make a utility function similar to `bindA

[2018-09-21 04:48] aikoven commented on #67
There's a beta version [v3.0.0-beta-2](https://github.com/aikoven/typescript-fsa/releases/tag/v3.0.0-beta-2) that allows it. You can try it out.

[2018-11-14 21:47] elyalvarado commented on #38
Hi @aikoven, is there any update on this issue? Maybe typescript 3 supports it. I have a javascript app I'm migrating to typescript and uses FSA as defined in the repo, and would love to use typescript-fsa

[2018-11-21 10:28] iiroj opened #69 "Feature request: Add optional mapPayload parameter"
I would appreciate the ability to add an optional parameter for mapping the values of an action's payload. This would be useful, for example, for dispatching notifications and assigning them a UUID in the action itself.

My current work-around is the following wrapper function:

[code]

The usage is then:
[code]

This works perfectly in the sense that `addNotification` doesn't accept and `id` key

[2018-11-22 05:18] aikoven commented on #38
Unfortunately not. I've implemented this feature but the compiler still behaves the same way.

https://github.com/aikoven/typescript-fsa/compare/error-discriminator-experiment

[2018-12-19 11:04] MistyKuu opened #70 "Changing interface to type for ActionCreator<P> in 3.0-beta-2"
I'm currently using typescript-fsa version 2.5. I'm augmenting ActionCreator interface like this:

[code]

The reason I'm doing it is that I extended it with payloadType. In 3.0 I'm not able to do that since types in typescript cannot be augmented. Is there any reason why you decided to use type?

[2019-03-11 17:26] QuantumInformation commented on #70
is this lib still maintained?

[2019-03-12 07:48] aikoven commented on #70
@QuantumInformation Yes!

@MistyKuu That's because in 3.0 the `ActionCreator` type is composed of two types using intersection (`&`), which lets us use different signature when `Payload` type is `void`. However, with newer TypeScript versions this is no longer needed, because you can skip void parameters (see https://github.com/Microsoft/TypeScript/pull/27522).

There are a few other things I'd li

[2019-03-12 07:55] aikoven commented on #69
Sorry for being quiet for so long.

I'm planning to explore this for 3.0 stable within the next couple of months.

[2019-03-12 07:57] QuantumInformation commented on #70
Cool thanks @aikoven

We are seeing this:
<img width="1143" alt="Screenshot 2019-03-12 at 07 57 24" src="https://user-images.githubusercontent.com/216566/54183633-83e63580-449c-11e9-887b-5d820ee61705.png">

[2019-03-12 09:55] QuantumInformation commented on #70
This happened after moving to the new native create react app --typescripe

[2019-03-12 11:59] aikoven commented on #70
@QuantumInformation Can you show the definition of `SaveIssue` action creator?

[2019-03-12 12:03] QuantumInformation commented on #70
`export const SaveIssue = actionCreator.async<null, IssueDetails , string>('SaveIssue');`

[2019-03-12 13:20] QuantumInformation commented on #70
If I turn off     "strict": true,
no error.

[2019-03-12 13:34] QuantumInformation commented on #70
Fixed it updating the generic type

export const LoadIssue = actionCreator.async< null, IssueDetails , string>('LoadIssue');
to
export const LoadIssue = actionCreator.async< {issueId: number}, IssueDetails , string>('LoadIssue');

[2019-03-12 13:44] QuantumInformation commented on #5
I think it would be nice to include that code in the library, saves confusion as to where it came from. (I discovered it in a repo im working on)

[2019-03-12 15:39] QuantumInformation commented on #70
Have you thought of setting up a discord server for this project, or adding it to reactiflux?

[2019-03-12 15:52] QuantumInformation commented on #5
I've inherited a code base that uses this and https://github.com/dphilipson/typescript-fsa-reducers.

I'm seeing this issue:

<img width="864" alt="Screenshot 2019-03-12 at 15 51 02" src="https://user-images.githubusercontent.com/216566/54214745-b6b11d80-44de-11e9-9016-2461258f7d29.png">

Which stems from this file:

Is there something I can do to quickly fix this?

[code]

[2019-03-12 16:37] iiroj commented on #69
Thanks @aikoven! Let me know if you require any help or additional feedback on this!

[2019-03-12 17:21] QuantumInformation commented on #5
I've rolled back some libraries, I noticed that typescript is looking at different node modules, the error goes away when the dispatch method looks likes this when I ctrl-click on `dispatch`

file"

[code]
but on the latest version of the project I get the error when I ctrl-click on `dispatch` is from the file `node_modules/redux/index.d.ts`
`  dispatch: Dispatch<A>`

[2019-03-13 09:57] QuantumInformation opened #72 "Might be useful to have examples folder"
It would be nice to have an examples folder with all the various ways this can be used and best practices.

[2019-03-13 10:01] QuantumInformation commented on #5
moved discussion here

https://github.com/aikoven/typescript-fsa/issues/72#issue-420408841

[2019-03-19 11:32] aikoven commented on #70
There's not so much activity on this project. And honestly, I don't have much spare time to maintain a chat room.

[2019-03-19 11:33] QuantumInformation commented on #70
ok, thx anyway

[2019-03-19 11:42] aikoven commented on #72
There are some examples in the readme. I'd happily accept a PR if you have something to add 🙂.

As for async stuff: usually you would first pick a Redux middleware for it, like `redux-saga`, or `redux-thunk`, or `redux-promise`. Then either dispatch async actions manually before and after an async process, or introduce a helper that wraps these processes. There are already [packages](https://githu

[2019-05-02 03:01] septs opened #73 "match incompatible for TypeScript 3.3.4 later"
error info:
[code]

errata code:

https://github.com/aikoven/typescript-fsa/blob/dc494592263b31269094fdcc1a80f83c7616ec8b/src/index.ts#L84-L90

if params is void returns never?

if result is void returns never?

[code]

[2019-05-06 05:12] aikoven commented on #73
Thanks for the report.

You may use version `2.5.0` until this is fixed.

[2019-05-06 05:55] septs commented on #73
@aikoven not fixed to 3.0.0 version?

[2019-05-07 05:02] aikoven commented on #73
3.0.0 is not stable yet. It has some experimental features that don’t yet work correctly in all setups.

[2019-05-18 13:47] #73 closed

[2019-05-18 16:44] tquinlan1992 opened #74 "Potentially inspirational Project using typescript-fsa"
I'm hoping some may be inspired by this usage of typescript-fsa in my project found here https://github.com/tquinlan1992/tquinlan92-typescript-redux-utils.

It gives back a reducer and typed action creators based on the initial state passed in.

[2019-05-25 04:45] #74 closed

[2019-09-03 14:42] 0rvar opened #76 "Time to release this as non-beta?"
This works great, let's release the current master as 3.0.

[2019-09-12 06:03] septs opened #77 "TypeScript 3.6 Compatibility issue"
Example code
==========

[fsa-issue.zip](https://github.com/aikoven/typescript-fsa/files/3603914/fsa-issue.zip)

[code]

Why `void` with `Result`?
===================

`typescript-fsa-redux-thunk` in NO RETURN async procedure

[code]

see xdave/typescript-fsa-redux-thunk#17
see xdave/typescript-fsa-redux-thunk#14

[2019-09-14 03:47] aikoven commented on #77
Payloads of async action creators always carry `params` with them. So if the result of async job is `void`, the payload of the `done` action would look like `{params: ...}`.

The code you sent compiles fine if you change the definition of `test` to

[code]

[2019-09-14 03:50] aikoven commented on #76
You're right, I will make a release shortly.

[2019-09-14 04:06] aikoven commented on #76
Just published [`v3.0.0`](https://github.com/aikoven/typescript-fsa/releases/tag/v3.0.0).

[2019-09-14 04:06] #76 closed

[2019-09-14 04:07] aikoven commented on #70
@MistyKuu fixed in [`v3.0.0`](https://github.com/aikoven/typescript-fsa/releases/tag/v3.0.0).

[2019-09-14 04:07] #70 closed

[2019-09-14 04:08] aikoven commented on #66
I'm going to close this, please feel free to reopen.

[2019-09-14 04:08] #66 closed

[2019-09-14 04:11] aikoven commented on #65
I'm going to close this, please feel free to reopen.

[2019-09-14 04:11] #65 closed

[2019-09-14 09:25] septs commented on #77
https://github.com/xdave/typescript-fsa-redux-thunk/issues/17#issuecomment-531446038

[2019-09-14 09:25] #77 closed

[2019-10-14 11:07] anodynos opened #79 "Optional parameters not respected in 3.0.0"
When I upgrade from `3.0.0-beta-2` to `3.0.0` I'm getting loads of

`error TS2554: Expected 1-2 arguments but got 0.`

for all my `actionFactory<void>` & `actionFactory.async<void, SomeType>`.

Reverting back to `3.0.0-beta-2` solves it. I'm on TypeScript 3.1.6.

[2019-10-16 05:32] aikoven commented on #79
Can you please provide some code to reproduce?

[2019-11-06 14:16] anodynos commented on #79
Sorry I've missed that, was bust/holidays :-)
I will do when I find some time next week...

[2019-11-22 15:54] anodynos commented on #79
Closing this - I can't reproduce it any more (we've upgraded to TypeScript 3.5.3 since, maybe that has solved it, not sure ;-) )

Thanks for the lib, it rocks ;-)

[2019-11-22 15:54] #79 closed

[2020-02-12 09:09] Vanuan opened #81 "Bug: can't create an action without payload. 'ActionCreator<void>' is not assignable to '() => void'"
Here's a rough example:
[code]

Here's an error:
[code]

To fix it, I have to change this:
[code]
To this:
[code]
Which is stupid.

[2020-02-12 10:56] Vanuan commented on #81
I think it can be fixed like this:
[code]

[2020-02-12 12:47] Vanuan commented on #81
See #82

[2020-02-12 17:56] Vanuan commented on #81
In addition, we don't want payload to be present:

[code]

[2020-02-13 10:03] Vanuan commented on #81
The issue is that you can't use void as a parameter type in generic:

[code]

There's no way to verify whether parameter value is void or not. The only place where void is allowed is the return value. So using void as a generic type to signify that a parameter can be omitted is wrong.
[code]

[2020-02-13 10:06] Vanuan commented on #81
So it means the default value should be changed to something else that can be type guarded:
[code]

Should be changed to

[code]

`undefined` much better serves the purpose of a missing value

[code]

[2020-02-13 12:28] Vanuan commented on #81
Here's how similar issue fixed in redux-toolkit:

https://github.com/reduxjs/redux-toolkit/pull/133/files#diff-438bbd0288b07c3e7ae7f40f89f7f451R9-R11
[code]

[2020-02-13 12:32] Vanuan commented on #81
Oh, this looks even better:
https://github.com/reduxjs/redux-toolkit/pull/138
[code]